.button{
    -fx-background-image : url("../images/treeButtonBackground.jpg");
    -fx-font : 18px "Comic Sans MS"; 
    -fx-text-fill : #ffffff;
    -fx-font-weight : bold;
}

.scroll-pane > .viewport{
    -fx-background-image : url("../images/mainMenuScreen.jpg");
}

.scroll-pane > .corner{
    -fx-background-color : transparent;
}
